[submodule "Submodules/Sol2"]
	path = Submodules/Sol2
	url = https://github.com/ThePhD/sol2
	branch = main
[submodule "Tools/ImGuiLuaGen"]
	path = Tools/ImGuiLuaGen
	url = https://github.com/BeamNG/ImGuiLuaGen